.header{
  width:100vw;
  height:10vh;
  background-color: rgb(216, 64, 64);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width:100vw;
  height:8vh;
  background-color: rgb(238, 201, 55);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  background-color: rgb(246, 152, 80);
  display: flex;
  justify-content: space-between;
  color:white;
}
.home{
  width:100vw;
  height:80vh;
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
  align-items: center;
}